
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal" ng-click="gallery.reset()">
                    <div class="lr" ng-click="gallery.reset()">
                        <div class="rl"">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{mainCtrl.movies[myModal.current].name}}</h2>
                                <p class="item-intro text-muted">{{mainCtrl.movies[myModal.current].tagline}}</p>
                         
                                <div ng-repeat = "paragraph in mainCtrl.movies[myModal.current].description">
                                <p>{{paragraph}}</p>
                                </div>
               
                                <div>
                                <movie-gallery></movie-gallery>
                                </div>
   


                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="gallery.reset()"><i class="fa fa-times"></i> Close Movie</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
